# the repo should just contain the prepare_dataset.py files
# and anything else in the 0_collection directory


# ignore directories that could exist for the datasets, and everything inside them
**/archives/**
**/examples/**
**/original_files/**
**/converted_files/**
**/__pycache__/**

# ignore files that will commonly exist
*.sqlite
*.sqlite-journal
*.xlsx
*.h5
*.pkl

# ignore all of the symlinks that were created
100_Sports/dataset_utils.py
102_Category_Flower_Dataset/dataset_utils.py
10_Monkey_Species/dataset_utils.py
7000_Labeled_Pokemon/dataset_utils.py
Apparel_Images_Dataset/dataset_utils.py
APTOS_2019_Blindness_Detection/dataset_utils.py
Art_Images_Type_Classification/dataset_utils.py
ASL_Alphabets_Dataset/dataset_utils.py
Blood_Cell_Images_Dataset/dataset_utils.py
boat-types-recognition/dataset_utils.py
BookCover30/dataset_utils.py
Brain_Tumor_Dataset/dataset_utils.py
Brazilian_Coins/dataset_utils.py
Breast_Ultrasound/dataset_utils.py
Caltech-UCSD_Birds_200/dataset_utils.py
Cataract_Dataset/dataset_utils.py
CelebA/dataset_utils.py
Chars74k/dataset_utils.py
chest_xray/dataset_utils.py
CLEVR_v1.0/dataset_utils.py
colorectal-histology-mnist/dataset_utils.py
concrete-crack/dataset_utils.py
CORe50/dataset_utils.py
DeepWeedsX/dataset_utils.py
dermnet/dataset_utils.py
Describable_Textures_Dataset/dataset_utils.py
Diabetic_Retinopathy_Detection/dataset_utils.py
dragon-ball-super-saiyan-dataset/dataset_utils.py
electronic-components/dataset_utils.py
EuroSAT/dataset_utils.py
FaceMask_Dataset/dataset_utils.py
Facial_Expression_Recognition_2013/dataset_utils.py
Fashion_Product_Images_Dataset/dataset_utils.py
Fine-Grained_Visual_Classification_of_Aircraft/dataset_utils.py
Food-101/dataset_utils.py
Freiburg_Groceries_Dataset/dataset_utils.py
Galaxy10/dataset_utils.py
garbage_classification/dataset_utils.py
GTSRB/dataset_utils.py
HistAerial/dataset_utils.py
House_Room_Image_Dataset/dataset_utils.py
Hurricane_Damage_Dataset/dataset_utils.py
iFood2019/dataset_utils.py
ilab_80m/dataset_utils.py
ilab_atari/dataset_utils.py
ilab_deepvp/dataset_utils.py
Images_LEGO_Bricks/dataset_utils.py
iMaterialist_Fashion_2019/dataset_utils.py
iNaturalist/dataset_utils.py
Intel_Image_Classification/dataset_utils.py
IP102_Dataset/dataset_utils.py
Kannada-MNIST/dataset_utils.py
Kvasir-Capsule_Dataset/dataset_utils.py
Labeled_Surgical_Tools_and_Images/dataset_utils.py
Land-Use_Scene_Classification/dataset_utils.py
Large-Scale_Fish_Dataset/dataset_utils.py
Malacca_Historical_Buildings/dataset_utils.py
Manga_Facial_Expressions/dataset_utils.py
Mechanical_Tools_Classification_Dataset/dataset_utils.py
MIT_Indoor_Scenes/dataset_utils.py
Multi-Class_Weather_Dataset/dataset_utils.py
NEU-Surface-Defect-Database/dataset_utils.py
NWPU-RESISC45/dataset_utils.py
Office-Home/dataset_utils.py
OnePiece_Dataset/dataset_utils.py
Oregon_Wildlife/dataset_utils.py
OrigamiSet1.0/dataset_utils.py
Oxford_Buildings/dataset_utils.py
PAD-UFES-20/dataset_utils.py
PatchCamelyon/dataset_utils.py
planets-and-moons-dataset/dataset_utils.py
PlantDoc-Dataset/dataset_utils.py
polish-craft-beer-labels/dataset_utils.py
Retinal_OCT_2017/dataset_utils.py
Rice_Image_Dataset/dataset_utils.py
rock-classification/dataset_utils.py
Russian_Letter_Dataset/dataset_utils.py
RVL-CDIP/dataset_utils.py
Satellite_Images_to_Predict_African_Poverty/dataset_utils.py
Simpsons_Characters_Data/dataset_utils.py
Sketches/dataset_utils.py
Skin_Cancer_MNIST_HAM10000/dataset_utils.py
Stanford_Cars/dataset_utils.py
Stanford_Online_Products/dataset_utils.py
Stanford_Street_View_House_Numbers/dataset_utils.py
Texture_Dataset/dataset_utils.py
UIUC_Sports_Event_Dataset/dataset_utils.py
UMIST_Face_Database/dataset_utils.py
Vegetable_images_Dataset/dataset_utils.py
VOC_2012_Human_Action_Subset/dataset_utils.py
watermarked-not-watermarked-images/dataset_utils.py
WikiArt_Dataset/dataset_utils.py
Yoga-82/dataset_utils.py
Zalando_Clothing_and_Models/dataset_utils.py
